@if(basketService.basket()){
  <section>
    <div class="mx-auto max-w-screen-xl">
      <div class="flex w-full items-start gap-6 mt-32">
        <div class="w-3/4">
          @for (item of basketService.basket()?.items; track item.productId) {
            <app-basket-item [item]="item"></app-basket-item>
          }
        </div>
        <div class="w-1/4">
          <app-order-summary></app-order-summary>
        </div>
      </div>
    </div>
  </section>
}@else{
  <p> You dont have any item in your basket</p>
}

